* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.app {
 font-size: 30px;
  height: 100vh;
  background-image: url('./assets/work.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}